{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}


  <div id="logs">
      <div class="jobs_head">
        <div>{{t menu.item.logs}}</div>
      </div>
      <table id="jobs-table" class="table table-bordered table-striped">
          <thead>
          <tr id="filter-row" class="first">
              <th>{{t logs.table.custom.time}}</th>
              <th>{{t logs.table.custom.devel}}</th>
              <th>{{t logs.table.custom.cont}}</th>
          </tr>
          </thead>
          <tbody>
          {{#if view.noDataToShow}}
              <tr>
                {{#if controller.loaded}}
                <td class="no-data" {{bindAttr colspan="controller.columnsName.content.length"}}>{{t logs.nothingToShow}}</td>
              {{else}}
                    <td class="no-data" {{bindAttr colspan="controller.columnsName.content.length"}}>{{t logs.loadingTasks}}</td>
                {{/if}}
              </tr>
          {{else}}
            {{#each log in controller.sortedContent}}
              <tr>
                <td>
                  {{log.time}}
                </td>
                <td>
                  {{log.devel}}
                </td>
                <td>
                  {{log.cont}}
                </td>
              </tr>
            {{/each}}
          {{/if}}
          </tbody>
      </table>

      <div class="page-bar">
          <div class="items-on-page">
              <label>{{t logs.show.up.to}}: 25</label>
          </div>
        <div class="paging_two_button">
          {{view view.logsPaginationLeft}}
          {{view view.logsPaginationRight}}
        </div>
      </div>
  </div>

